# -*- mode: snippet -*-
# name: main module
# key: main.
# --
${1:(: main (→* () ((Vectorof String)) Any))
}(define (main [argv (current-command-line-arguments)])
  $0
  (values${2: #t}))
(module+ main (call-with-values main exit))