# -*- mode: snippet -*-
# name: main module
# key: main.
# --
${1:(: main (->* () ((Vectorof String)) (Values${2: Any})))
}(define main
  (λ ([argv (current-command-line-arguments)])
    (let/cc ${4:return}${3: : (Values$2)}
      $0
      ($4$5))))
(module+ main (call-with-values main exit))